a.grades {
	text-decoration: none;
}

a.grades:hover {
	text-decoration: underline;
} 

a.grades:active {
	opacity: 0.8;
} 

.grades.grade1 {
	color: #e3440f; /* Admistrator */
}

.grades.grade2 {
	color: #00dbff; /* Gamemaster */
}

.grades.grade3 {
	color: #c55fb1; /* Developer */
}

.grades.grade4 {
	color: #54c571; /* Coder */
}

.grades.grade5 {
	color: #4772b8; /* Staff */
}

.grades.grade6 {
	color: #c9c9c9; /* Regular Player */
}

.grades.grade7 {
	color: #ffcc00; /* Donater */
}

.grades.grade8 {
	color: #888787; /* Banned Player */
	text-decoration: line-through;
}

.grades.grade8:hover {
	color: #727272; /* Banned Player */
	text-decoration: line-through;
}

.grades.grade9 {
	color: #888787; /* Muted Player */
	text-decoration: underline;
}

.grades.grade9:hover {
	color: #727272;  /* Muted Player */
}

span.pgrade2 {
	background: url(images/star.gif) no-repeat; /* Jjang */
	width: 9px;
	height: 11px;
	display: inline-block!important;
	padding: 0!important;
}	
/** Donator Color Names **/
.ugrade0 {
	color: #fff;
}

.ugrade2 {
	color: #ffd83d;
}

.ugrade2v {
	color: #2078e5;
}

.ugrade201 {
	color: #106060;
}

.ugrade202 {
	color: #2078e5;
}

.ugrade203 {
	color: #0dc262;
}

.ugrade204 {
	color: #de1ea6;
}

.ugrade205 {
	color: #FF999;
}

.ugrade206 {
	color: #9A99FF;
}

.ugrade207 {
	color: #CC99FF;
}

.ugrade208 {
	color: #99CCFF;
}

.ugrade209 {
	color: #99FFFF;
}

.ugrade210 {
	color: #99FF33;
}

.ugrade211 {
	color: #CC6666;
}

.ugrade212 {
	color: #00FF00;
}

.ugrade213 {
	color: #FFFF00;
}

.ugrade214 {
	color: #CC0099;
}

.ugrade215 {
	color: #9933FF;
}

.ugrade216 {
	color: #66FFCC;
}

.ugrade217 {
	color: #0000B8;
}

.ugrade218 {
	color: #EB004E;
}

.ugrade219 {
	color: #CC66FF;
}

.ugrade220 {
	color: #CCFFE6;
}

.ugrade221 {
	color: #FFCCCC;
}

.ugrade222 {
	color: #B8005C;
}

.ugrade223 {
	color: #B800B8;
}
/** End of Donater Color Names **/

/** Special Color Names **/
.ugrade224 {
	color: RGBA(255, 0, 0, 175);
}

.ugrade225 {
	color: #00b800;
}

.ugrade226 {
	color: #33ccff;
}
/** 227-231 Elite Colors **/
.ugrade227 {
	color: #eb2823;
}

.ugrade228 {
	color: #c42d1e;
}

.ugrade229 {
	color: #e7d407;
}

.ugrade230 {
	color: #3cd01d;
}

.ugrade231 {
	color: #1023e4;
}
/** End of Special Color Names **/

/** Staff Color Names **/
.ugrade240 {
	color: #00FF00;
}

.ugrade241 {
	color: #FFFF00;
}

.ugrade242 {
	color: #CC0099;
}

.ugrade243 {
	color: #9933FF;
}

.ugrade244 {
	color: #66FFCC;
}

.ugrade245 {
	color: #0000B8;
}

.ugrade246 {
	color: #EB004E;
}

.ugrade247 {
	color: #CC66FF;
}

.ugrade248 {
	color: #CCFFE6;
}
