/* Coded by NubPro 2013 - DarKGunZ v7 Website */

* {
	margin: 0;
	padding: 0;		
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a:active {
	background: transparent;
}

body {
	background:url(images/background.jpg) #0d0707 top center no-repeat;
}

#navigation {
	margin: 0 auto;	
	width: 1003px;
	height: 116px;
}

#navigation ul {
	list-style: none;
	text-align: center;
}

#navigation #left {
	background: url(images/navigation.png) left top;
	width: 43px;
	height: 116px;
	float: left;
}

#navigation #right {
	background: url(images/navigation.png) right top;
	width: 43px;
	height: 116px;
	float: left;
}

#navigation ul li a {
	font-size: 13px;
	text-decoration: none;
	color: #828282;
	margin-top: 35px;
	position: absolute;
	display: block;
	z-index: 10;
	width: 112px;
	height: 50px;
	padding-top: 31px;
	text-align: center;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#navigation ul li:hover > a{
	color: #fff;
	text-shadow:0 0 6px #cc2222;
}

#navigation ul li.active > a, #navigation ul li.active > div.hover {
	opacity: 1;	
	color: #fff;
	text-shadow:0 0 6px #cc2222;
}

#navigation ul li {
	background: url(images/navigation.png) left bottom;
	width: 112px;
	height: 122px;
	float: left;
	display: inline-block;
}

#navigation ul li:hover > .hover {
	opacity: 1;
}

#navigation ul li .hover {
	background: url(images/navigation.png) right bottom;
	width: 112px;
	height: 122px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#navigation ul li#logo a {
	width: 244px;
	height: 52px;
}

#navigation ul li#logo {
	background: url(images/logo.png) left;
	width: 244px;
	height: 122px;
	float: left;
}

#navigation ul li#logo:hover .hover {
	opacity: 1;
}

#navigation ul li#logo .hover {
	background:url(images/logo.png) right;
	width: 244px;
	height: 122px;
	position: absolute;
}

#navigation ul ul {
	background: RGBA(0,0,0,0.4);
	display: none;
	width: 108px;
	border: solid 1px #191919;
	position: relative;
	top: 116px;
	left: 1px;
	padding: 0 0 1px 0;	
	-webkit-transform: translateZ(0px); /*bug addressed on chrome*/	
}

#navigation ul ul li {
	background: url(images/navigation.png) -43px top;
	width: 106px;
	height: 26px;
	float: none;
	margin-top: 1px;
}

#navigation ul ul li:hover .hover {
	opacity: 1;
}

#navigation ul ul li .hover {
	background: url(images/navigation.png) -43px -26px;
	width: 106px;
	height: 26px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#navigation ul ul a {
	font-size: 11px;
	text-decoration: none;
	padding: 0;
	margin: 0;
	line-height: 25px;	
	width: 106px;
	height: 26px;	
}

#navigation ul ul li:hover a {
	color: #d4d3d3;
	text-shadow:0 0 6px #cc2222;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	margin-top: 255px;
}

#wrapper #l-sidebar {
	margin-top: 95px;
	float: left;
}

#wrapper #r-sidebar {
	margin-top: 95px;
	float: right;
}

.btn a {
	background: url(images/transparent.html);	
	width: 213px;
	height: 79px;
	display: block;
	position: absolute;
	z-index: 1;	
}

.btn-desc {
	font-size: 11px;
	text-align: right;
	padding: 26px 19px 0 0;
	text-shadow: 0 0 1px #000;	
	color: #d8d8d8;
	line-height: 16px;
}

.btn-desc .desc {
	margin-top:-2px;
}

.btn.status {
	background:url(images/buttons.png) left top;
	width: 213px;
	height: 79px;
	margin: 0 0 25px -1px;
}

.btn.download:hover .hover, .btn.function:hover .hover, .btn.donate:hover .hover, .btn.support:hover .hover {
	opacity: 1;
}

.btn.download {
	background:url(images/buttons.png) -213px top;
	width: 213px;
	height: 79px;
	margin: 0 0 25px -1px;
}

.btn.download .hover {
	background:url(images/buttons.png) -213px bottom;
	width: 213px;
	height: 79px;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;		
}

.btn.function {
	background:url(images/buttons.png) -852px top;
	width: 213px;
	height: 79px;
	margin: 0 0 25px -1px;
}

.btn.function .hover {
	background:url(images/buttons.png) -852px bottom;
	width: 213px;
	height: 79px;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;		
}

.btn.donate {
	background:url(images/buttons.png) -426px top;
	width: 213px;
	height: 79px;
	margin: 0 0 25px -1px;
}

.btn.donate .hover {
	background:url(images/buttons.png) -426px bottom;
	width: 213px;
	height: 79px;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;		
}

.btn.support {
	background:url(images/buttons.png) -639px top;
	width: 213px;
	height: 79px;
	margin: 0 0 25px -1px;
}

.btn.support .hover {
	background:url(images/buttons.png) -639px bottom;
	width: 213px;
	height: 79px;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;		
}

.side-panel {
	padding-bottom: 25px;
}

.side-panel .title {
	background: url(images/panel.png) center top;
	width: 211px;
	height: 46px;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffe6b0;
	box-shadow: 0 0 1px #000;	
	line-height: 45px;
	text-align: center;
}

cufon {
	margin-top: 17px;
}

.side-panel .content {
	background: url(images/panel.png) left;
	width: 211px;
	text-align: center;
}

.side-panel .content .body {
	font-size: 11px;
	color: #d8d8d8;
	padding: 15px 0 10px;
}

.side-panel .content .body span {
	display: block;	
	padding-bottom: 8px;
}

span.pgrade2 {
	display: none;
}	
.side-panel .content hr {
	background: url(images/panel.png) center 46px;
	width: 199px;
	height: 8px;
	border: none;
	position: relative;
	top: -10px;
	margin: 0 auto;
}

.side-panel .end {
	background: url(images/panel.png) center 68px;
	width: 211px;
	height: 10px;
}

.side-panel .content table {
	width: 211px;
	color: #d8d8d8;
	font-size: 11px;
	text-align: center;
	transition: color 0.5s;
}

.side-panel .content table a {
	text-decoration: none;
	color: #d8d8d8;
}

.side-panel .content table tr {
	background: none;
	width: 191px;
	height: 27px;
	display: inline-table;	
	color: #d8d8d8;
}

.side-panel .content table tr:nth-child(1n+2) {
	background: url(images/panel.png) center bottom no-repeat;
	opacity: 0.7;
	width: 191px;
	height: 27px;
	display: inline-table;
	margin-bottom: 3px;
	text-align: left;
	-webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
	transition: color 0.5s;
}

.side-panel .content tr:nth-child(1n+2):hover a, .side-panel .content tr:nth-child(1n+2):hover {
	color: #fff;
	-webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
	transition: color 0.5s;
}

.side-panel .content table tr:nth-child(1n+2) {
	cursor: pointer;
}

.side-panel .content table td:nth-child(2) {
	text-align: left;
}


.side-panel .content table td:nth-child(3) {
	width: 40px;
	text-align: center;
}

.side-panel .content table th {
	width: 20px;
	font-weight: normal;
	text-align: center;
}

.side-panel .view-more {
	background: url(images/panel.png) right top;
	width: 211px;
	height: 38px;	
	display: inline-block;
}

.side-panel .view-more a {
	width: 211px;
	height: 38px;
	display: block;
	position: absolute;
	z-index: 10;
}

.side-panel .view-more:hover .hover {
	opacity: 1;
}

.side-panel .view-more .hover {
	background: url(images/panel.png) right center;
	width: 211px;
	height: 38px;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.side-panel .view-more a:active {
	background: url(images/panel.png) right bottom;
	width: 211px;
	height: 38px;	
}

#mid-container {
	width: 492px;
	float: left;
	margin-left: 42px;
}

#mid-container .news {
	width: 492px;
	margin-top: 20px;
}

#mid-container .news > .title {
	background: url(images/news.png) left bottom;
	width: 491px;
	height: 44px;
	font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffe6b0;
	text-shadow: 0 0 1px #000;	
	line-height: 45px;
	text-align: left;
	text-indent: 20px;
	padding:0 ;
	margin:0;
}

#mid-container .news > .content {
	background: url(images/news.png) right;
	width: 491px;
	color: #d8d8d8;
	font-size: 11px;
	padding: 20px 0 10px;
	line-height: 25px;
	text-align: center;
}

a.type2 {
	text-decoration: none;
	color: #d8d8d8;
}

a.type2:hover {
	text-decoration: underline;
}

a.type2:active {
	color: #a31111;
}

a.link {
	color: #bd2121;
	text-decoration: none;
}

a.link:hover {
	text-decoration: underline;
}

a.link:active {
	color: #a31111;
}

.rankinglist a {
	color: #b2b2b2;
	text-decoration: none;
}

.rankinglist a:hover {
	text-decoration: underline;
}

#mid-container .news .content .content-in {
	text-align: left; 
	padding: 0 0 20px 20px;
	width: 455px; 
	line-height: normal;
	font-size: 11px;
}

#legend {
	background: url(images/news-wrap.png) right top;
	width: 60px;
	height: 25px;
	font-size: 12px;
	float: left;
	z-index: 1;
	text-align: center;
	margin-left: 10px;
	color: #fff;
	text-indent: 0;
}

#mid-container .news .end {
	background: url(images/news.png) left -24px;
	width: 491px;
	height: 8px;
}

.news .news-wrap {
	width: 459px;	
	margin: 0 auto; 
	padding-bottom: 8px;
}

.news-wrap > a {
	background: url(images/transparent.html);
	width: 459px;
	height: 34px;	
	position: absolute;
	z-index: 9;
}


.news-wrap > .header {
	background: url(images/news-wrap.png) left;
	width: 459px;
	height: 34px;
	display: inline-block;
	cursor: pointer;
}

.news-wrap > .header:hover .active {
	opacity: 1;
}

.news-wrap > .header.selected .active , .news-wrap.show > .header .active {
	opacity: 1;
}

.news-wrap > .header > .active {
	background: url(images/news-wrap.png) -459px;
	width: 459px;
	height: 34px;
	opacity: 0;	
	position: absolute;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.news-wrap > .header .news-title {
	position: absolute;
	z-index: 1;
	padding-top: 6px;
	font-size: 12px;
	color: #fff;
	text-shadow: 0 0 2px #000;	
	text-indent: 10px;
	-webkit-transform: translateZ(0px); /*bug addressed on chrome*/
}

.news-wrap > .header .news-title .midpath {
	width: 388px;
	display: inline-block;
	text-indent: 0;
}

.news-wrap > .header .news-title .midpath a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

.news-wrap > .header .news-title .midpath a:hover {
	text-decoration: underline;
}

.news-wrap > .header .news-title .midpath a.active {
	color: #ff4747;
}

.news-wrap > .header .filter {
	background: url(images/news-wrap.png) right top;
	width: 60px;
	height: 25px;
	display: inline-block;
	text-indent: 0;
	font-size: 11px;
	text-align: center;
	color: #d8d8d8;
}

.news-wrap > .header .date {
	background: url(images/news-wrap.png) right top;
	width: 60px;
	height: 25px;
	position: absolute;	
	margin: 5px 0 0 390px;	
	font-size: 10px;
	z-index: 1;
	text-align: center;
	color: #d8d8d8;
}

.news-wrap > .header .et {
	line-height: 11px;
	float: right;
	position: relative;
	margin: 11px 10px 0 -5px;
}

.news-wrap > .header .news-title img.icon {
	float: left;
	margin: 3px -2px 0 10px;
}

.news-wrap .news-container {
	background: url(images/news-wrap.png) -918px;
	width: 459px;
	position: relative;
}

.news-wrap .news-container .body {
	width: 439px;
	text-align: left;
	padding: 10px;
	line-height: normal;
	color: #d8d8d8;
	font-size: 11px;
}

.news-wrap .news-container hr {
	background: #252620;
	height: 1px;
	border: none;
	margin: 5px auto;
	width: 440px;
}

.news-wrap .news-end {
	background: url(images/news-wrap.png) -1377px bottom;
	width: 459px;
	height: 1px;
}

.news-wrap .register-body {
	width: 550px;
	text-align: left;
	line-height: 30px;
	color: #6b6b6b;
	padding: 10px 0 21px 0;
	margin-left: 52px;
}

.news-wrap .misc-body {
	width: 459px;
	text-align: center;
	padding: 10px 0 21px 0;	
}

.news-wrap .register-body label.error{
    color: #FB3A3A;
	float: right;
	position: relative;
	left: -205px;
	line-height: 40px;
}

#mid-container #usercp {
	height: 74px;
}

#usercp .panel {
	background: url(images/usercp.png) left top no-repeat;
	width: 492px;
	height: 102px;
}

#usercp .content {
	width: 474px;
	color: #d8d8d8;
	font-size: 11px;
	padding: 28px 0 0 11px;
}

#usercp .content .title {
	font-size: 12px;
	padding-bottom: 5px;
}

#usercp .content a.type1 {
	color: #db2121;
	text-decoration: none;
	font-size: 11px;
	letter-spacing: normal;
}

#usercp .content a.type1:hover {
	text-decoration: underline;
}

#usercp .content a.type1:active {
	color: #a31111;
}

input.type1 {
	background: url(images/usercp.png) left -102px no-repeat;
	width: 150px;
	height: 25px;
	border: none;
	color: #d8d8d8;
	padding-left: 8px;
	font-size: 11px;
	outline: none;
	float: left;
	margin-right:5px;
}

.input.type2 {
	background: url(images/usercp.png) -279px -102px no-repeat;
	width: 71px;
	height: 25px;
	margin: 1px 3px 0 0;
	float: left;
	-webkit-transform: translateZ(0px); /*bug addressed on chrome*/
	text-align: left;	
}

.input.type2.type4 {
	float: none;
	width: 71px;	
	margin: 0 auto;
}

.input .button {
    background: transparent;
    border: none !important;	
	position: absolute;
	z-index: 9;
	width: 71px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	color: #96ac19;
	cursor: pointer;
	font-size: 11px;
	outline: none;		
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}

input .button {
	display: block;
	width: 500px;
}

.input .button:hover {
	color: #b7d220;
}

.input .button:active {
	color: #96ac19;
	transition: color 0s;	
}

.input.type2:hover .hover {
	opacity: 1;
}

.input.type2:active .active {
	opacity: 1;
}

.input.type2 .hover {
	background: url(images/usercp.png) -350px -102px no-repeat;
	width: 71px;
	height: 23px;
	position: absolute;	
	opacity: 0;	
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.input.type2 :active {
	background: url(images/usercp.png) -421px -102px no-repeat;
	width: 71px;
	height: 23px;
}

.input.type2.type3 .button, .style2 {
	color: #d8d8d8;
}

.input.type2.type3 .button:hover, .style2:hover {
	color: #ffffff;
}

.input.type2.type3 .button:active, .style2:active {
	color: #d8d8d8;
	transition: color 0s;		
}

input.type4, select.type4 {
	background: url(images/usercp.png) left -127px #090909;
	border: 1px solid #1f1f1e;
	border-radius: 5px;
	width: 334px;
	height: 37px;
	outline: none;
	font-size: 12px;
	color: #d8d8d8;
	padding-left: 20px;
	margin-bottom: 11px;
	-webkit-appearance: none; 	
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	line-height: none;
}

select.type4 {
	width: 356px;
}

select.type5 {
	background: url(images/usercp.png) left -127px #090909;
	border: 1px solid #1f1f1e;
	border-radius: 5px;	
	height: 37px;
	outline: none;
	font-size: 12px;
	color: #d8d8d8;
	margin-bottom: 11px;
	-webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';	
}

#searchform {	
	position: relative;
	float: right;
	margin: 5px 10px 0 0;
}

input.type6 {
	background: url(images/usercp.png) left -164px;
	width: 124px;
	height: 24px;
	border: none;
	outline: none;
	font-size: 12px;
	color: #c0c0c0;
	padding-left: 8px;
}

input.type7 {
	background: url(images/usercp.png) -132px -164px;
	width: 26px;
	height: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	margin-left: -3px;
}

input.type7:hover {
	background: url(images/usercp.png) -158px -164px;
	width: 26px;
	height: 24px;
}

input.type7:active {
	background: url(images/usercp.png) -184px -164px;
	width: 26px;
	height: 24px;
}
select.type5 option{
	background: #0f0e0e;
}

select::-ms-expand {
    display: none;
}

select.type4 option {
	background: #0f0e0e;
}

#donation-pool {
	background: url(images/donation-pool.png) top;
	width: 388px;
	height: 25px;
	margin:0 auto 10px auto;
}

#donation-pool #progress-bar {
	background: url(images/donation-pool.png) left bottom no-repeat;
	width: 388px;
	height: 25px;
	text-align: center;
}

#donation-pool #progression {
	width: 388px;
	text-align: center;
	color: #fff;
}

.gold {
	background: url(images/panel.png)  -211px -93px;
	height: 7px;
	width: 7px;
	display: inline-block;
}

.silver {
	background: url(images/panel.png)  -211px -100px;
	height: 7px;
	width: 7px;
	display: inline-block;
}

.bronze {
	background: url(images/panel.png) -211px bottom;
	height: 7px;
	width: 7px;
	display: inline-block;
}

/* Item List Slider */
#viewport {
	width: 445px;
	margin: 0 auto 10px;
}

#simplePrevious {
	background:url(images/viewport.png) 30px top;
	width: 15px;
	height: 19px;
	cursor: pointer;
	float: left;
	margin-top: 39px;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 	
}

#simplePrevious .hover {
	background:url(images/viewport.png) 30px bottom;
	width: 15px;
	height: 19px;	
	opacity: 0;	
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#simplePrevious:hover .hover {
	opacity: 1;
}

#simpleNext {
	background:url(images/viewport.png) 15px top;
	width: 15px;
	height: 19px;
	cursor: pointer;		
	display: inline-block;
	float: right;
	margin-top: 39px;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
}

#simpleNext .hover {
	background:url(images/viewport.png) 15px bottom;
	width: 15px;
	height: 19px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;	
}

#simpleNext:hover .hover {
	opacity: 1;
}

#viewport-cont {
	width: 392px;
	height: 110px;
	overflow: hidden;
	/* Fix for IE */
	position: relative;	
	display: inline-block;
}

#viewport-cont ul {
	position: relative; 
	padding: 0; 
	margin: 0;
	list-style: none; 
}

#viewport-cont li {
	background: url(images/viewport.png) left no-repeat;
	width: 80px; 
	height: 80px;
	float: left; 
	margin: 8px 8px 0;
	text-align: center;	
	border: 1px solid #323231;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;		
}

#viewport-cont li:hover {
	box-shadow: 0 0 10px #411616;
    border: 1px solid #483130;
}

#viewport-cont li img {
	margin: 1px;
	z-index: 1;
	border: none;
	display: block;
	width: 78px;
	height: 78px;
}

#viewport-cont li p {
	position: absolute;
	width: 110px;
	margin-top: 3px;
	color: #d8d8d8;
	margin-left: -15px;
}

#viewport-cont a {
	background: url(images/transparent.html);
	width: 80px;
	height: 100px;
	position: absolute;
	z-index: 99;
	display: block;
}
/* End of Item List Slider */
#ads-spot {
	background: #090908; 
	width: 485px; 
	height: 73px; 
	position: absolute; 
	z-index: 1; 
	display: block; 
	margin: 3px 0 0 3px; 
	border-radius: 12px;
	padding-top: 13px;
	text-align: center;
}

#ads-spot:hover #ads-alert {
	opacity: 1;
}

#ads-spot #ads-alert {
	opacity: 0;
	font-size: 9px;
	color: #999;
	position: relative;
	margin-top: -14px;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#footer {
	text-align: center;
	font-size: 10px;
	color: #d8d8d8;
	padding: 17px 0;
}

#footer a {
	color: #bd2121;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer a:active {
	color: #a31111;
}

.tooltip {
	display: none;
	position: absolute;
	background-color: RGBA(9,9,8,0.7);
	box-shadow: 0 0 1px #000;
	padding: 1px;
	color: #fff;	
	font-size: 11px;
	text-shadow: none;
	z-index: 99;
}

table.tooltiptable th {
	color: #ccc;
	background-color: RGBA(9,9,8,0.9);
	font-weight: normal;
	text-align: left;
	text-indent: 5px;
	text-shadow: none;
	padding: 1px 10px 1px 0;
}

table.tooltiptable td {
	background-color: RGBA(20,20,18,0.6);
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	padding: 0 20px;
}

#trailer-cont {
	width: 853px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	margin-top: -240px;
}

#trailer {
	padding: 15px 15px 8px;
	cursor: pointer;
}

#trailer .playbtn {
	background: url(images/viewport.png) -80px top;
	width: 44px;
	height: 31px;
	position: absolute;
	margin: 37px 0 0 71px;
	opacity: 0.9;
}

#trailer:hover .hover {
	opacity: 1;
}

#trailer .hover {
	background: url(images/viewport.png) -80px bottom;
	width: 44px;
	height: 31px;
	position: absolute;
	margin: 37px 0 0 71px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;	
}

#trailer-overlay {
	background: RGBA(0,0,0,0.9);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	display: none;
	text-align: left;
}

#trailer-overlay .facebook {
	background: url(images/usercp.png) -158px -102px;
	width: 24px;
	height: 24px;
	margin-top: 5px;
	opacity: 0.5;
	display: inline-block;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;		
}

#trailer-overlay .facebook:hover, #trailer-overlay .twitter:hover {
	opacity: 1;
}

#trailer-overlay .twitter {
	background: url(images/usercp.png) -182px -102px;
	width: 24px;
	height: 24px;
	margin-left: 4px;		
	opacity: 0.5;
	display: inline-block;	
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;		
}

br.type1 {
	display: none;
}

.icons {
	float: left;
	margin: 2px 5px 0 0;
}

.icons.coins1 {
	background: url(images/usercp.png) -206px -102px;
	width: 14px;
	height: 12px;
}

.icons.coins2 {
	background: url(images/usercp.png) -220px -102px;
	width: 14px;
	height: 12px;
}

.icons.coins3 {
	background: url(images/usercp.png) -234px -102px;
	width: 16px;
	height: 12px;
}

.icons.mail {
	background: url(images/usercp.png) -206px -114px;
	width: 16px;
	height: 13px;
}

.clan.winner {
	background: url(images/sparkle.gif);
	text-shadow: 0 0 6px #e5221b;
}

#download-area1 {
	width: 209px;
	display: inline-block;
	text-align: left;
	cursor: pointer;
}

#download-area1 a, #download-area2 a {
	width: 209px;
	height: 193px;
	position: absolute;	
	z-index: 9;
}

#download-area1:hover .header .hover, #download-area2:hover .header .hover {
	opacity: 1;
}

#download-area1 .header {
	background: url(images/download.png) left top;
	width: 209px;
	height: 60px;
}

#download-area1 .header .hover {
	background: url(images/download.png) right -60px;
	width: 209px;
	height: 60px;
	opacity: 0;	
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;	
}

#download-area1 .active {
	background: url(images/download.png) right top;
	width: 209px;
	height: 60px;
	position: absolute;
	display: none;
}

#download-area1 .title, #download-area2 .title {
	font-size: 12px;
	position: absolute;
	margin: 23px 0 0 52px;
	color: #fff;
	z-index: 1;
	position: absolute;
}

#download-area1 .content {
	background: url(images/download.png) left -60px;
	width: 194px;
	height: 113px;
	font-size: 10px;
	color: #727272;
	padding: 20px 0 0 15px;
}

#download-area2 {
	width: 209px;
	display: inline-block;
	margin-left: 8px;
	text-align: left;	
	cursor: pointer;	
}

#download-area2 .header {
	background: url(images/download.png) left -193px;
	width: 209px;
	height: 60px;
}

#download-area2 .header .hover {
	background: url(images/download.png) right -180px;
	width: 209px;
	height: 60px;
	opacity: 0;	
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;	
}

#download-area2 .active {
	background: url(images/download.png) right -120px;
	width: 209px;
	height: 60px;
	position: absolute;
	display: none;
}

#download-area2 .content {
	background: url(images/download.png) left -253px;
	width: 194px;
	height: 113px;
	font-size: 10px;
	color: #727272;
	padding: 20px 0 0 15px;
}

#download-area3 {
	background: url(images/download.png) center -417px;	
	width: 429px;	
	height: 39px;
	margin: 5px 0 0 -3px;	
	display: inline-block;
}

#download-area3:hover .hover {
	opacity: 1;
}

#download-area3 .hover {
	background: url(images/download.png) center -456px;	
	width: 429px;	
	height: 39px;
	position: absolute;
	opacity: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;	
}

#download-area3 a {
	width: 429px;	
	height: 39px;
	display: block;
	position: absolute;
	z-index: 9;
}

#download-area3 a:active {
	background: url(images/download.png) center -495px;	
}

table.sysrq td.min {
	background: url(images/download.png) right -240px;
	color: #97754d;	
	font-size: 12px;
	font-style: normal;		
}

table.sysrq td.rec {
	background: url(images/download.png) right -271px;
	color: #96ac19;
	font-size: 12px;
	font-style: normal;	
}

table.sysrq td.merged {
	background: url(images/download.png) left -386px;		
}

table.sysrq tr {
	height: 31px;
	text-align: center;
}

table.sysrq th {
	background: url(images/download.png) right -302px;	
	font-size: 11px;
	font-weight: normal;
}

table.sysrq td {
	background: url(images/download.png) right -333px;
	font-style: italic;
	font-size: 10px;
}

table.rankinglist {
	position: relative;
	z-index: 1;
	text-align: center;
	color: #b2b2b2;
	margin-top: -27px;
}

table.rankinglist tr {
	height: 23px;
}

table.rankinglist.toggled tr {
	cursor: pointer;
}

table.rankinglist.toggled tr:nth-child(1n+2):hover {
	background: #0f0f0e;
}

table.rankinglist.toggled tr:nth-child(1n+2):active {
	background: #0c0c0b;
}

table.rankinglist.toggled tr.selected {
	background: #131111;
}

table.rankinglist tr.title {
	height: 27px;
	color: #d8d8d8;
}

table.rankinglist tr.blank {
	height: 11px;
}

.rankinglist.header {
	background: url(images/usercp.png) left -188px;
	width: 455px;
	height: 27px;
	line-height: 28px;
	padding-left: 10px;
	text-align: left;	
}

.rankinglist.header a {
	margin: 0 5px;
	display: inline-block;
	cursor: pointer;
}

.rankinglist.header a.active {
	color: #bd2121;
}

.rankinglist.header a:active {
	color: #bd2121;
}

.rank-body table.disp .dispemblem {
	background: #090908;
	border: 1px solid #20201f;
	border-radius: 5px;	
	padding: 4px;
	position: absolute; 
	margin-top: -46px;
	left: -115px; 
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;		
}
 
.rank-body table.disp tr:hover .dispemblem {
	opacity: 1;
}
 
.clan-body, .rank-body {
	padding: 10px;
	line-height: normal;
	color: #d8d8d8;
	font-size: 11px;
	padding: 1px 0 10px 2px;	
}

.clan-body .emblem, .rank-body .emblem {
	border: 1px solid #20201f;
	border-radius: 5px;
	width: 100px;
	height: 100px;
	padding: 4px;
	margin: 10px auto 10px;
}

.clan-body .emblem:hover > .uploadem {
	opacity: 1;
}

.clan-body .uploadem {
	background: RGBA(0,0,0,0.7);
	position: relative;
	margin-top: -15px;
	width: 100px;
	height: 15px;
	line-height: 17px;
	text-align: center;
	color: #d8d8d8;
	font-size: 11px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;	
	cursor: pointer;
}

.clan-body .uploadem:hover {
	background: RGBA(0,0,0,0.8);
	color: #fff;
}

.clan-body #uploadembox {
	background: RGBA(0,0,0,0.9);
	border: 1px solid #1c1c1b;	
	position: absolute;
	z-index: 9;
	padding: 10px;	
	left: 50%;
	margin: 125px 0 0 -130px;
	display: none;
	text-align: center;
	z-index: 9999;		
}

.clan-body #clandisbandbox {
	width: 300px;
	background: RGBA(0,0,0,0.9);
	border: 1px solid #1c1c1b;	
	position: absolute;
	z-index: 9;
	padding: 10px;	
	left: 50%;
	margin-left: -150px;
	text-align: center;
	display: none;
	z-index: 9999;	
}

.error.type1 {
	max-width: 90%;
	padding: 2px 0;
	background: #fd0024;	
	border: 1px solid #BF0000;
	border-radius: 2px;		
	text-align: center;
	margin: 10px auto;
	line-height: normal;
	color: #fff;
	font-size: 12px;
	z-index: 99;
}

.error.type2 {
	background: RGBA(253,0,36,0.9);	
	position: absolute;
	width: 300px;
	left: 50%;
	top: 340px;
	margin: 0 0 0 -150px;
}

.error.type3 {
	width: 411px;
	margin: 0 0 5px -29px;
}

.number-arrange a {
	padding: 4px;
	color: #d8d8d8;
	text-decoration: none;
}

.number-arrange a:hover {
	background: #0e0e0d;
	border-radius: 2px;
	text-decoration: underline;
}

.number-arrange a.active {
	color: #bd2121;
}

.premium-but {
	background: url(images/usercp.png) left -215px;
	width: 94px;
	height: 32px;
	display: inline-block;
}

.premium-but:hover .hover, .premium-but.active .hover , .rebirth-but:hover .hover, .rebirth-but.active .hover, .event-but:hover .hover, .event-but.active .hover  {
	opacity: 1;
}

.premium-but .hover {
	background: url(images/usercp.png) -94px -215px;
	width: 94px;
	height: 31px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;	
}

.premium-but .hover:active {
	background: url(images/usercp.png) -188px -215px;
	width: 94px;
	height: 31px;
}

.rebirth-but {
	background: url(images/usercp.png) left -247px;
	width: 94px;
	height: 32px;
	display: inline-block;
}

.rebirth-but .hover {
	background: url(images/usercp.png) -94px -247px;
	width: 94px;
	height: 31px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;	
}

.rebirth-but .hover:active {
	background: url(images/usercp.png) -188px -247px;
	width: 94px;
	height: 31px;
}

.event-but {
	background: url(images/usercp.png) left -279px;
	width: 94px;
	height: 32px;
	display: inline-block;
}

.event-but .hover {
	background: url(images/usercp.png) -94px -279px;
	width: 94px;
	height: 31px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;	
}

.event-but .hover:active {
	background: url(images/usercp.png) -188px -279px;
	width: 94px;
	height: 31px;
}

.premium-but, .rebirth-but, .event-but {
	margin: 15px 1px 14px;
}

#Grid {
	text-align: left;
	padding: 22px;
}

#Grid .mix {
	background: url(images/usercp.png) -282px -215px no-repeat;	
	width: 115px;
	height: 131px;
	display: inline-block;
	margin: 10px;
	text-align: center;	
	cursor: pointer;
}

#Grid img {
	width: 93px;
	height: 93px;
	margin-top: 10px;
	position: relative;
}

#Grid p {
	margin: 5px 0 0 -17px;
	position: absolute;
	z-index: 1;
	text-align: center;
	width: 150px;
	height: 18px;
	overflow: hidden;	
}

#Grid a {
	background: url(images/transparent.html);	
	width: 115px;
	height: 131px;
	display: block;
	position: absolute;
	z-index: 99;
}

#Grid .hover {
	background: url(images/usercp.png) right -215px;	
	width: 115px;
	height: 131px;	
	position: absolute;
	z-index: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;		
}

#Grid li.mix:hover .hover {
	opacity: 1;
}

#shopdetails {
	margin: 0 auto;
	text-align: left;
}

#shopdetails.itemdesc {
	text-align: left; 
	padding: 0 15px; 
	color: #c0c0c0; 
	font-style: italic; 
	font-size: 12px;
}

#shopdetails.stats {
	margin: 15px auto 10px;
}

#shopdetails.stats td:nth-child(2n+1) {
	background: #1a1a1a;	
}

#shopdetails.stats td:nth-child(2n+0) {
	text-indent: 10px;
}

#shopdetails.stats td {
	color: #c0c0c0;
	width: 80px;
	text-indent: 5px;
	padding: 2px 0;	
}

#shopdetails td.desc {
	vertical-align: top;
	text-align: left;
	padding-left: 10px;
}

#shopdetails td.desc div.title {
	color: #fff;
	font-size: 12px;
	padding-bottom: 10px;
}

#shopdetails td.desc .hl {
	color: #bd2121;
}

#colorstorage input[type="radio"] {	
	position: absolute;
	visibility: hidden;
}

#colorstorage label {
	text-align: center;
	display: inline-block;	
	width: 435px;
	overflow: hidden;
	font-size: 12px;
	cursor: pointer;
	padding: 5px 0;
	-webkit-transform: translateZ(0px); /*bug addressed on chrome*/		
}

#colorstorage label:hover {
	background: #0f0f0e;
	font-size: 14px;		
}

#colorstorage label:active {
	background: #0c0c0b;	
}

#colorstorage :checked + label {
    background: #131111;
	font-size: 14px;		
}

#colorstorage span {
	display: none;
	position: absolute;
	z-index: 99;
	line-height: 28px;
	margin-left: 10px;
}

#colorstorage p:hover span {
	display: block;
}

.style1 {
	color: #999898;
	font-style: italic;
}

.style2 {
	width: 71px;
	height: 23px;
	z-index: 9;
	position: absolute;
	font-size: 11px;	
	padding-top: 4px;
	text-decoration: none;
	text-align: center;
}

.faq p {
    list-style: disc outside;
    display:list-item; 
	margin-left: 15px;
	text-indent: -5px;
}

#announcement-footer {
	background: RGBA(0,0,0,0.8);
	width: 100%;
	height: 40px;
	z-index: 100;
	color: #fff;
	text-align: center;
	font-size: 30px;
	position: fixed;
	bottom: 0;
}

#banner2 {
	background: RGBA(0,0,0,0.8);
	width: 100%;
	z-index: 100;
	color: #fff;
	text-align: center;
	font-size: 30px;
	position: fixed;
	bottom: 0;
	font-size: 24px;
	font-family: Verdana, Geneva, sans-serif;
	color: #fff;
}

#banner2 div.msg {
	display: none;
}

.misc-body #sexchange_form label {
	width: 70px;
	padding: 2px 0;
	border: #333 1px solid;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	margin: 5px 5px 10px;
	color: #666;
}

.misc-body #sexchange_form input[type="radio"] {	
	position: absolute;
	visibility: hidden;
}

.misc-body #sexchange_form :checked + label {
	border: #411616 1px solid;
	box-shadow: 0 0 5px #351010;
	color: #fff;	
}

#downloadclient{
    opacity:0.9;
}

#downloadclient a:hover{
    opacity:0.8;
}