#slider-frame {
	background: url(images/frame.png) no-repeat top left;
	width:491px;
	height:182px;
	margin-top: 20px;
	padding:3px 0 0 3px;
}
#slider {
	width:485px;
	height:177px;
	position:relative;
	-webkit-border-radius:10px; 
	-moz-border-radius:10px; 
	border-radius:10px;
	background:#090908 url(images/loading.gif) no-repeat 50% 50%;
	overflow: hidden;
}
#slider a{
	position:absolute;
	z-index:10;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	max-width: none;
}

/* Nivo Slider Configuration */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { 
	display:block; 
}

.nivo-control {
	position:relative;
	top:-33px;
	font-size:0;
	z-index:99;
}

.nivo-controlNav {
	text-align:right; /* align bullets */
	margin-right:17px;
}

.nivo-controlNav a {
	display:inline-block;
	width:14px;
	height:14px;
	background:url(images/bullets.png) left no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:-2.5px;
}
.nivo-controlNav a.active {
	background-position:right;
}

.nivo-caption {    
	top:50%;
	opacity:1;
	font-family:"Myriad Pro", Helvetica, Arial, sans-serif;
	background:none;
	font-size:16px;
	letter-spacing:0.1px;
	margin-left:35px;	
	text-shadow:1px 0 1px #000;
	position:absolute;
	color:#fff;
	z-index:8;
	padding: 5px 10px;
	overflow: hidden;
	display: none;
}
.nivo-caption p {
	padding:5px;
	margin:0 0 0 -5px;
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffe6b0;
	letter-spacing:normal;
}
.nivo-controlNav {
	padding: 15px 0;
}
.nivo-controlNav a{
	cursor: pointer;
}